canvas {
	border-right: 10px solid #000;
	border-left: 10px solid #000;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	justify-content: center;
	position: relative;
}

.start {
	font-size: 40px;
	color: green;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 200px;
	cursor: pointer;
	background: #FFF;
	border: 1px solid grey;
	border-radius: 15px;
	padding: 6px 13px;
}

